*{
margin: 0;
padding: 0;
font-family: poppins,sans-serif,Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(60deg, #c622c6,#5252cd);
    color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.container h1{
    font-size: 40px;
    font-weight: 1000;
}
span{
    color:#ff2963;
}
textarea{
    height: 250px;
    width: 40%;
    background: #f9f3f3;
    color: #c622c6;
   padding: 12px;
   font-size: 32px;
   border-radius: 15px;
   outline: none;
   margin:25px;
}
 select{
   height: 50px;
   width: 490px;
   border-radius: 10px;
   outline: none;
   appearance: none;
}
#btn{
    width: 120px;
    height:50px;
    border-radius:25px;
    font-size: 20px;
    background-image: url('play.jpg'); 
     background-size: 40px;
    background-position-y :5px;
    background-repeat: no-repeat;
     padding-left: 25px;
     margin-left: 15px;
    
}

